// app global css
@import '~variables';
body
  // background-color #200F02
  background-color $grey-10
h2, h1
  font-family 'Tangerine', sans
  font-size 4em
h5, h4, h3
  font-family 'Tangerine', sans