// app global css
@import '~variables';
body
  // background-color #200F02
  background-color $grey-9
  min-height 100%
  margin 0
  background url('~assets/homebg.jpg') no-repeat center center
  background-size cover
  background-attachment fixed